@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* .tb */

* {
	margin: 0;
	padding: 0;
	font-size: 0;
	border: 0;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #5b517d;
	border-radius: 2px;
}


body {
	width: 280px;
}
.tm {
	font-size: 12px;
	color: #5b517d;
	cursor: default;
}
.choose_cursor_size {
	width: 25px;
    height: 25px;
    line-height: 25px;
    background: #f9ca24;
    margin: 1em;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    font-family: Verdana;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    color: #000000;
}
.choose_cursor_size:hover {
	background-color: #44bd32;
	color:#fff;
}

.preload {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	z-index: 1;
}

.preload img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	pointer-events: none;
	height:100%
}

.anim_preload {
	animation-name: anim_preload;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
}

@keyframes anim_preload {

	0% {
		top: 52%;
	}

	50% {
		top: 48%;
	}

	100% {
		top: 52%;
	}

}

.anim_preload_hide {
	animation-name: anim_preload_hide;
	animation-duration: 1.3s;
	left: 100%;
	visibility: hidden;
}

@keyframes anim_preload_hide {

	0% {
		visibility: visible;
		left: 0;
	}

	75% {
		left: 0;
	}

}


.header {
	position: relative;
	margin-top: 25px;
	margin-bottom: 20px;
}

.tb {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	margin-left: 14px;
	color: #2f3640;
	display: block;
	cursor: default;
}

.tm {
	font-size: 12px;
	margin-left: 14px;
	color: #5b517d;
	cursor: default;
}

.off {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 14px;
	width: 34px;
	height: 100%;
	border-left: 1px solid #5b517d13;
	color:#303952
	
}

.off img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 18px;
	height: 18px;
	pointer-events: none;
	opacity: 0.7;
}

.off:hover img {
	opacity: 1;
}

.content {
	position: relative;
	height: 300px;
	margin-left: 4px;
	text-align: center;
	overflow: auto;
}

.cursor {
	position: relative;
	width: 54px;
	height: 54px;
	margin: 2px;
	border: 1px solid;
	border-color: transparent;
	border-radius: 10px;
	display: inline-block;
	background-color: #5b517d0a;
}

.cursor img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
	pointer-events: none;
}

.cursor:hover {
	background-color: transparent;
	border-color: #5b517d0a;
}

.cursor:hover img {
	animation-name: anim_curHover;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
}

@keyframes anim_curHover {

	0% {
		top: 55%;
	}

	50% {
		top: 45%;
	}

	100% {
		top: 55%;
	}

}

.curSelect {
	background-color: #7cffc23a;
}

.bottom {
	position: relative;
	padding-bottom: 25px;
}

.selector {
	position: relative;
	text-align: center;
}

.selector_btn {
	position: relative;
	height: 30px;
	width: 116px;
	margin: 2px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #2c3e50;
	display: inline-block;
	cursor: pointer;
}

.selector_btn_theme {
	position: relative;
	height: 30px;
	width: 116px;
	margin: 2px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #ffcc00;
	display: inline-block;
	cursor: pointer;
}

.selector_btn_theme text {
	position: relative;
	height: 30px;
	width: 116px;
	margin: 2px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #000000;
	color:#000000;
	display: inline-block;
	cursor: pointer;
}

.select {
	background-color: #fbc531;
}

.selector_btn text {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	pointer-events: none;
}